@font-face {
	font-family: "Cantarell";
	src: url('Cantarell.otf');
	font-display: optional;
}

:root {
	--cor-fundo: #ffffff;
	--cor-fundo-2: #fffadf;
	--cor-texto: #111111;
	--cor-borda: #7F7F7F;
	--cor-azul: #4096f5;
	--cor-vermelha: #ff7084;
	--cor-verde: #63c259;
	--cor-amarela: #efc72a;
	--borda-normal: solid 2px var(--cor-borda);
	--borda-destaque: solid 2px var(--cor-azul);
	--sem-borda: solid 2px transparent;
	--raio-borda: 15px;
	--espaco-1: 10px;
	--espaco-2: 20px;
	--espaco-4: 40px;
	--altura-4: 2.4rem;
	--tamanho-fonte: 20px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--cor-fundo: #111111;
		--cor-texto: #fffadf;
		--cor-borda: #cecece;
	}
}

* {
	color: var(--cor-texto);
	font-family: 'Cantarell', 'Segoe UI', 'Tahoma', sans-serif;
	font-size: var(--tamanho-fonte);
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--cor-fundo);
	justify-content: space-evenly;
	align-items: center;
}

.ocultar {
	display: none;
}

.barra {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: row;
	overflow-y: hidden;
	overflow-x: scroll;
	gap: var(--espaco-2);
	padding-inline: var(--espaco-2);
	padding-block: var(--espaco-1);
}

.barra select,
.barra button {
	padding-inline: var(--espaco-1);
}

.barra_opcao {
	display: flex;
	height: var(--altura-4);
	flex-shrink: 0;
	background-color: transparent;
	border: var(--borda-normal);
	border-radius: var(--raio-borda);
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	align-items: center;
	overflow: hidden;
	flex-shrink: 0; 
}

.controle {
    display: flex;
    aspect-ratio: 3 / 1;
    height: var(--altura-4);
	border: var(--borda-normal);
	border-radius: var(--raio-borda);
}

.controle * {
	appearance: textfield;
  	-moz-appearance: textfield;
    width: 33.33%;
    height: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
    background-color: transparent;
	border: none;
}

.seta:hover {
	cursor: pointer;
	color: var(--cor-azul);
} 

.trocar_cor,
.entrada_cor {
	width: auto;
	height: var(--altura-4);
	aspect-ratio: 1/1;
	text-align: center;
	background-color: transparent;
	border: var(--borda-normal);
	border-radius: var(--raio-borda);
}

.trocar_cor {
	border: var(--sem-borda);
}

#BotaoCorDosCaracteres {
	background-color: var(--cor-texto);
}

#BotaoCorDeFundo {
	background-color: var(--cor-fundo);
}

#BotaoCorDoContorno {
	background-color: var(--cor-fundo);
}

.bloco_caracteres {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: calc(100vw - var(--espaco-4));
	height: auto;
	resize: none;
	border: var(--borda-normal);
	border-radius: var(--raio-borda);
	color: var(--cor-texto);
	background-color: var(--cor-fundo);
	-webkit-text-stroke-color: var(--cor-fundo);
	font-weight: 400;
	overflow: hidden;

	@media (max-width: 800px) {
		width: 100%;
		border: none;
		border-radius: 0px;
		border-block: var(--borda-normal);
	}
}

.bloco_caracteres textarea {
	display: flex;
	outline: none;
	flex: 50%;
	resize: none;
	border: none;
	color: var(--cor-texto);
	background-color: var(--cor-fundo);
	-webkit-text-stroke-color: var(--cor-fundo);
	font-weight: 400;
	padding: var(--espaco-1);
	overflow-x: hidden;
	overflow-y: scroll;
}

#Caracteres2 {
	display: none;
	border-top: var(--borda-normal);
}

.acao:hover,
.acao:focus {
	cursor: pointer;
	outline: none;
	border: var(--borda-destaque);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

#contraste {
	border-radius: var(--raio-borda);
	border: solid 2px var(--cor-verde);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: var(--espaco-1);
	white-space: nowrap;
}

@-moz-document url-prefix() {
	* {
		scrollbar-color: var(--cor-azul) transparent;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: var(--raio-borda);
		background-color: var(--cor-borda);
	}

	::-webkit-scrollbar-thumb:hover {
		cursor: pointer;
		background-color: var(--cor-azul);
	}

	.trocar_cor {
		font-size: 100%
	}
}

.opcoes option {
	background-color: var(--cor-fundo);
	color: var(--cor-texto);
	text-align: start;
}