html,body{
    background:rgb(100,100,100);
}
@font-face{
    font-family:Fonte_Atual;
    src:url(Meraki.ttf);
}
#Caracteres{
    font-family:Fonte_Atual;
    font-size:10vh;
    color:red;
}
#NomeFonte{
    font-size:20vh;
}
