@font-face {
	font-family: "Cantarell";
	src: url('Cantarell.otf');
	font-display: optional;
}

:root {
	--cor-fundo: #ffffff;
	--cor-fundo-2: #fffadf;
	--cor-texto: #111111;
	--cor-borda: #7F7F7F;
	--cor-azul: #4096f5;
	--cor-vermelha: #ff7084;
    --cor-verde: #63c259;
    --cor-amarela: #efc72a;
	--borda-normal: solid 2px var(--cor-borda);
	--borda-destaque: solid 2px var(--cor-azul);
	--sem-borda: solid 2px transparent;
	--raio-borda: 15px;
	--espaco-1: 10px;
	--espaco-2: 20px;
	--espaco-4: 40px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--cor-fundo: #111111;
		--cor-texto: #fffadf;
		--cor-borda: #cecece;
	}
}

* {
	color: var(--cor-texto);
	font-family: 'Cantarell';
	font-size: 12px;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--cor-fundo);
}

.barra {
	width: 100%;
	height: 8vh;
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	overflow-x: scroll;
	gap: var(--espaco-2);
	padding-inline: var(--espaco-2);
	padding-block: var(--espaco-1);
}

.ocultar {
	display: none;
}

.barra_opcao {
	text-decoration: none;
	text-align: center;
	border: var(--borda-normal);
	border-radius: var(--raio-borda);
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	font-size: 20px;
	background-color: transparent;
}

.barra select,
.barra button {
	padding-inline: var(--espaco-1);
}

.barra_opcao * {
	height: 4vh;
	border: none;
	background-color: transparent;
	width: auto;
	aspect-ratio: 1/1;
	font-size: 1.4rem;
}

.trocar_cor,
.entrada_cor {
	width: auto;
	height: 100%;
	aspect-ratio: 1/1;
	text-align: center;
	border: var(--borda-normal);
	border-radius: var(--raio-borda);
	display: flex;
	justify-content: space-between;
	align-items: center;
	white-space: nowrap;
	font-size: 20px;
	background-color: transparent;
}

.trocar_cor {
	border: var(--sem-borda);
}

.seta:hover {
	cursor: pointer;
	color: var(--cor-azul);
}

.barra_opcao input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
	text-align: center;
}

#BotaoCorDosCaracteres {
	background-color: var(--cor-texto);
}

#BotaoCorDeFundo {
	background-color: var(--cor-fundo);
}

#BotaoCorDoContorno {
	background-color: var(--cor-fundo);
}

.bloco_caracteres {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: calc(100% - var(--espaco-4));
	height: calc(100% - var(--espaco-4));
	resize: none;
	border: var(--borda-normal);
	border-radius: var(--raio-borda);
	color: var(--cor-texto);
	background-color: var(--cor-fundo);
	-webkit-text-stroke-color: var(--cor-fundo);
	font-weight: 400;
	overflow: hidden;
	@media (max-width: 800px) {
		width: 100%;
		border: none;
		border-radius: 0px;
		border-block: var(--borda-normal);
	}
}

.bloco_caracteres textarea {
	display: flex;
	outline: none;
	flex: 50%;
	resize: none;
	border: none;
	color: var(--cor-texto);
	background-color: var(--cor-fundo);
	-webkit-text-stroke-color: var(--cor-fundo);
	font-weight: 400;
	padding: var(--espaco-1);
}

#Caracteres2{
	display: none;
	border-top: var(--borda-normal);
}

.acao:hover,
.acao:focus {
	cursor: pointer;
	outline: none;
	border: var(--borda-destaque);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

#contraste {
	border-radius: var(--raio-borda);
	border: solid 2px var(--cor-verde);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	padding-inline: var(--espaco-1);
	white-space: nowrap;
}